<a href="/">â† Back</a>
<div class="auth-container">
  <h2>Register</h2>

  <% if (typeof errorMessage !== "undefined") { %>
    <p style="color:red;"><%= errorMessage %></p>
  <% } %>

  <form action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Register</button>
  </form>
</div>
