<header class="header">
    <a href="/" class="header__logo">NodeJs</a>
    <nav class="header__nav">
        <ul>
            <li>
                 <a href="/" class="<%= isActive('/',currentRoute) %>">Home</a>
            </li>
            <li>
                 <a href="/about" class="<%= isActive('/about',currentRoute) %>">About</a>
            </li>
            <li>
                 <a href="/contact" class="<%= isActive('/contact',currentRoute) %>">Contact</a>
            </li>
            <li>
                 <a href="/dashboard" %>">Dashboard</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <img src="/images/moon.png" class="darktheme" id="dark">
        <img src="/images/sun.png" class="lightTheme hide" id="light">
    </div>
</header>